{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
       <section class="card card-body bg-light-subtle">
            <h1 class="display-1 text-center">Django App</h1>
            <h5> ¡Welcome {{user.username}} to my task management project!</h5>
            <p>
                This is my first project in django and SQLite3, and represents an important part of my portfolio as a developer.            
            </p>
            <h5>Main features of the application</h5>
            <ul>
                <li>
                    <p>
                        Task CRUD: Complete CRUD (Create, Read, Update, Delete) functionalities for task management, 
                        facilitating the organization and monitoring of pending and completed activities.
                    </p>
                </li>

                <li>
                    <p>
                        User Registration and Login: Registration and authentication system that allows users to create accounts and securely access their personal tasks.
                    </p>
                </li>
                <li>
                    <p>
                        SQLite3 Database: Use of SQLite3 as a database to safely and efficiently store task information.
                    </p>
                </li>
                <li>
                    <p>
                        bootstrap: Use of bootstrap for application styles.
                    </p>
                </li>
            </ul>
            <p>Thank you for your visit and your interest                .</p>
                

            {% if not user.is_authenticated %}
                <div class="text-center">
                    <a class= "btn btn-dark" href="{% url 'signup' %}"> Sign Up</a>
                    <a class= "btn btn-dark" href="{% url 'login' %}"> Log In</a>
                </div>
            {% else %}
                <div class="text-center py-2">
                    <a class= "btn btn-dark" href="{% url 'create_task' %}"> Create a Task</a>
                    <a class= "btn btn-dark" href="{% url 'logout' %}"> Log Out</a>
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
